<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-qqpay" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-qqpay</name>
    <author>cedarwu</author>
    <description>A cordova plugin of QQPay</description>
    <preference name="QQAPPID" />

    <js-module name="QQPay" src="www/qqpay.js">
        <clobbers target="QQPay" />
    </js-module>

    <platform name="android">
        <hook type="after_plugin_add" src="scripts/android-install.js"/>
        <hook type="after_plugin_install" src="scripts/android-install.js"/>
        <hook type="before_plugin_rm" src="scripts/android-install.js"/>
        <hook type="before_plugin_uninstall" src="scripts/android-install.js"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="QQPay">
                <param name="android-package" value="cedar.cordova.qqpay.QQPay" />
            </feature>
            <preference name="QQAPPID" value="$QQAPPID"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <queries>
                <package android:name="com.tencent.mobileqq" />
            </queries>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name=".qqpay.CallbackActivity" android:label="@string/launcher_name" android:exported="true" android:launchMode="singleTop">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <data android:scheme="qwallet$QQAPPID"/>
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/QQPay.java" target-dir="src/cedar/cordova/qqpay" />
        <framework src="android-build.gradle" custom="true" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="QQPay">
                <param name="ios-package" value="CDVQQPay"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="QQAPPID" value="$QQAPPID"/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>mqqwallet</string>
                <string>mqqwalletv3</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>QQPay</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>qwallet$QQAPPID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <source-file src="src/ios/CDVQQPay.m" />
        <header-file src="src/ios/CDVQQPay.h"/>
        <source-file src="src/ios/QQWalletSDK.m" />
        <header-file src="src/ios/QQWalletSDK.h"/>
    </platform>
</plugin>